{
  "extends": [
    "walmart",
    "plugin:react/recommended"
  ],
  "globals": {
    "expect": true,
    "test": true,
    "describe": true,
    "fetch": true
  },
  "rules": {
    "eol-last": "off",
    "func-style": "off"
  }
}